.calendar {
  display: none;
  position: absolute;
  top: 63px;
  left: 0px;
  height: 220px;
  max-height: 250px;
  width: 300px;
  z-index: 999;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  text-align: center;
  font-size: .75rem;
}

.calendar.open {
  display: flex;

}

.header {
  display: flex;
  padding: 10px 10px 10px;
  width: 100%;
  height: 40px;
  text-align: center;
  justify-content: space-around;
}

.header h1,
.header h2 {
  font-size: .75rem;
}

.header i {
  font-size: .75rem;
  line-height: 18px;
  width: 20px;
  background-color: #b9b9b9;
  opacity: .6;
  border-radius: 8px;
  margin: 0 auto;
  margin-right: 15px;
  text-align: center;
  cursor: pointer;
}

.calendar-detail {
  position: absolute;
  top: 40px;
  bottom: 10px;
  background: #6f6f6f;
  padding: 5px;
  margin: 0 10px;
  border-radius: 8px;
}

.calendar-detail ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  text-align: center;
}

.calendar-detail .weeks li {
  font-weight: 500;
  margin-top: 5px;
}

.calendar-detail .days {
  margin-top: 5px;
  margin-bottom: 10px;
}

.calendar-detail .days li {
  z-index: 1;
  cursor: pointer;
  margin: 3px 0;
}

.days li.inactive {
  opacity: .6;
}

.days li.active {
  color: #fff;
}

.calendar-detail ul li {
  position: relative;
  width: calc(100% / 7);
}

.calendar-detail .days li::before {
  position: absolute;
  content: " ";
  height: 20px;
  width: 20px;
  top: -20%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%);
  border-radius: 50%;
}

.days li:hover::before {
  background: #df8ad1;

}

.days li.active::before {
  background-color: #00844C;
}