/* @media only screen and (max-width:768px) {
  .modal {
    flex-direction: column;
    padding-top: 50px;
    align-items: center;
    justify-content: center;
    margin: 1.75rem auto;

  }

  .modal-form {
    display: block;
  }
} */